
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src:
		url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Heavy.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-HeavyItalic.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Black.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-UltraLightItalic.eot');
	src: 
		url('HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
		url('HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-BlackItalic.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-ThinItalic.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-MediumItalic.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-LightItalic.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-BoldItalic.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Italic.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Light.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Thin.eot');
	src: 
		url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
    font-family: 'MetaPro-BoldIta';
    src: url('../fonts/MetaPro-BoldIta.eot');
    src: 
        url('../fonts/MetaPro-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-BoldIta.woff2') format('woff2'),
        url('../fonts/MetaPro-BoldIta.woff') format('woff'),
        url('../fonts/MetaPro-BoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-Book';
    src: url('../fonts/MetaPro-Book.eot');
    src: 
        url('../fonts/MetaPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Book.woff2') format('woff2'),
        url('../fonts/MetaPro-Book.woff') format('woff'),
        url('../fonts/MetaPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondMediIta';
    src: url('../fonts/MetaPro-CondMediIta.eot');
    src: 
        url('../fonts/MetaPro-CondMediIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondMediIta.woff2') format('woff2'),
        url('../fonts/MetaPro-CondMediIta.woff') format('woff'),
        url('../fonts/MetaPro-CondMediIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondNormIta';
    src: url('../fonts/MetaPro-CondNormIta.eot');
    src: 
        url('../fonts/MetaPro-CondNormIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondNormIta.woff2') format('woff2'),
        url('../fonts/MetaPro-CondNormIta.woff') format('woff'),
        url('../fonts/MetaPro-CondNormIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondBlack';
    src: url('../fonts/MetaPro-CondBlack.eot');
    src: 
        url('../fonts/MetaPro-CondBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBlack.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBlack.woff') format('woff'),
        url('../fonts/MetaPro-CondBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondBold';
    src: url('../fonts/MetaPro-CondBold.eot');
    src: 
        url('../fonts/MetaPro-CondBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBold.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBold.woff') format('woff'),
        url('../fonts/MetaPro-CondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-NormIta';
    src: url('../fonts/MetaPro-NormIta.eot');
    src: 
        url('../fonts/MetaPro-NormIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-NormIta.woff2') format('woff2'),
        url('../fonts/MetaPro-NormIta.woff') format('woff'),
        url('../fonts/MetaPro-NormIta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-ThinIta';
    src: url('../fonts/MetaPro-ThinIta.eot');
    src: 
        url('../fonts/MetaPro-ThinIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-ThinIta.woff2') format('woff2'),
        url('../fonts/MetaPro-ThinIta.woff') format('woff'),
        url('../fonts/MetaPro-ThinIta.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro';
    src: url('../fonts/MetaPro-Black.eot');
    src: 
        url('../fonts/MetaPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Black.woff2') format('woff2'),
        url('../fonts/MetaPro-Black.woff') format('woff'),
        url('../fonts/MetaPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondXbold';
    src: url('../fonts/MetaPro-CondXbold.eot');
    src: 
        url('../fonts/MetaPro-CondXbold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondXbold.woff2') format('woff2'),
        url('../fonts/MetaPro-CondXbold.woff') format('woff'),
        url('../fonts/MetaPro-CondXbold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-Hair';
    src: url('../fonts/MetaPro-Hair.eot');
    src: 
        url('../fonts/MetaPro-Hair.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Hair.woff2') format('woff2'),
        url('../fonts/MetaPro-Hair.woff') format('woff'),
        url('../fonts/MetaPro-Hair.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-BookIta';
    src: url('../fonts/MetaPro-BookIta.eot');
    src: 
        url('../fonts/MetaPro-BookIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-BookIta.woff2') format('woff2'),
        url('../fonts/MetaPro-BookIta.woff') format('woff'),
        url('../fonts/MetaPro-BookIta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-BlackIta';
    src: url('../fonts/MetaPro-BlackIta.eot');
    src: 
        url('../fonts/MetaPro-BlackIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-BlackIta.woff2') format('woff2'),
        url('../fonts/MetaPro-BlackIta.woff') format('woff'),
        url('../fonts/MetaPro-BlackIta.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondXboldIta';
    src: url('../fonts/MetaPro-CondXboldIta.eot');
    src: 
        url('../fonts/MetaPro-CondXboldIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondXboldIta.woff2') format('woff2'),
        url('../fonts/MetaPro-CondXboldIta.woff') format('woff'),
        url('../fonts/MetaPro-CondXboldIta.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondBlackIta';
    src: url('../fonts/MetaPro-CondBlackIta.eot');
    src: 
        url('../fonts/MetaPro-CondBlackIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBlackIta.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBlackIta.woff') format('woff'),
        url('../fonts/MetaPro-CondBlackIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-HairIta';
    src: url('../fonts/MetaPro-HairIta.eot');
    src: 
        url('../fonts/MetaPro-HairIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-HairIta.woff2') format('woff2'),
        url('../fonts/MetaPro-HairIta.woff') format('woff'),
        url('../fonts/MetaPro-HairIta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondBookIta';
    src: url('../fonts/MetaPro-CondBookIta.eot');
    src: 
        url('../fonts/MetaPro-CondBookIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBookIta.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBookIta.woff') format('woff'),
        url('../fonts/MetaPro-CondBookIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondNorm';
    src: url('../fonts/MetaPro-CondNorm.eot');
    src: 
        url('../fonts/MetaPro-CondNorm.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondNorm.woff2') format('woff2'),
        url('../fonts/MetaPro-CondNorm.woff') format('woff'),
        url('../fonts/MetaPro-CondNorm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro';
    src: url('../fonts/MetaPro-Thin.eot');
    src: 
        url('../fonts/MetaPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Thin.woff2') format('woff2'),
        url('../fonts/MetaPro-Thin.woff') format('woff'),
        url('../fonts/MetaPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-LightIta';
    src: url('../fonts/MetaPro-LightIta.eot');
    src: 
        url('../fonts/MetaPro-LightIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-LightIta.woff2') format('woff2'),
        url('../fonts/MetaPro-LightIta.woff') format('woff'),
        url('../fonts/MetaPro-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondMedi';
    src: url('../fonts/MetaPro-CondMedi.eot');
    src: 
        url('../fonts/MetaPro-CondMedi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondMedi.woff2') format('woff2'),
        url('../fonts/MetaPro-CondMedi.woff') format('woff'),
        url('../fonts/MetaPro-CondMedi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondBoldIta';
    src: url('../fonts/MetaPro-CondBoldIta.eot');
    src: 
        url('../fonts/MetaPro-CondBoldIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBoldIta.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBoldIta.woff') format('woff'),
        url('../fonts/MetaPro-CondBoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-Medi';
    src: url('../fonts/MetaPro-Medi.eot');
    src: 
        url('../fonts/MetaPro-Medi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Medi.woff2') format('woff2'),
        url('../fonts/MetaPro-Medi.woff') format('woff'),
        url('../fonts/MetaPro-Medi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondBook';
    src: url('../fonts/MetaPro-CondBook.eot');
    src: 
        url('../fonts/MetaPro-CondBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBook.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBook.woff') format('woff'),
        url('../fonts/MetaPro-CondBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-Norm';
    src: url('../fonts/MetaPro-Norm.eot');
    src: 
        url('../fonts/MetaPro-Norm.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Norm.woff2') format('woff2'),
        url('../fonts/MetaPro-Norm.woff') format('woff'),
        url('../fonts/MetaPro-Norm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro';
    src: url('../fonts/MetaPro-Bold.eot');
    src: 
        url('../fonts/MetaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Bold.woff2') format('woff2'),
        url('../fonts/MetaPro-Bold.woff') format('woff'),
        url('../fonts/MetaPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-MediIta';
    src: url('../fonts/MetaPro-MediIta.eot');
    src: 
        url('../fonts/MetaPro-MediIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-MediIta.woff2') format('woff2'),
        url('../fonts/MetaPro-MediIta.woff') format('woff'),
        url('../fonts/MetaPro-MediIta.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro';
    src: url('../fonts/MetaPro-Light.eot');
    src: 
        url('../fonts/MetaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Light.woff2') format('woff2'),
        url('../fonts/MetaPro-Light.woff') format('woff'),
        url('../fonts/MetaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

