footer.footer
	.footer__l-grid
		.footer__c-menu.nav
			ul
				li
					a(href="") Каталог
				li
					a(href="") Итальянские спальни
				li
					a(href="") Мягкая мебель
				li
					a(href="") Итальянские кухни
				li
					a(href="") Столы и стулья
				li
					a(href="") Гостинные
				li
					a(href="") Кабинеты
				li
					a(href="") Детская мебель
				li
					a(href="") Садовая мебель
		.footer__menu.nav
			ul
				li
					a(href="") О магазине
				li
					a(href="") Главная
				li
					a(href="") О компании
				li
					a(href="") Фабрики
				li
					a(href="") Сотрудничество
				li
					a(href="") Статьи
				li
					a(href="") Контакты
		.footer__map
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.924766571792!2d37.63412841593283!3d55.811906480569235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b535e0eb640f31%3A0xc8a9aac32d862778!2z0JHQpiAi0JPQuNC_0YDQvtC80LXQtyI!5e0!3m2!1sru!2sua!4v1580991046494!5m2!1sru!2sua" height="272" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		.footer__info
			.info__block
				.info__logo
					a(href="/")
						img(src="../../../static/images/general/logo.png")
				.info__descr
					a(href="/")
						| Интерьерные салон <br> "Альфа Мебель"
			.info__contacts
				.info__address
					.info__address_icon.info-icon
						img(src="../../../static/images/general/pin-icon.png")
					.info__address_descr
						a(href="https://goo.gl/maps/8Q2LCwRkTRYRUcPV8")
							| г. Москва, БЦ "ГИПРОМЕЗ" 
							br
							| проспект Мира, 101, с1
				.info__phone
					.info__phone_icon.info-icon
						img(src="../../../static/images/general/phone-icon.png")
					.info__phone_descr
						a(href="tel:+79153353514")
							| +7 915 335-35-14
				.info__email
					.info__phone_icon.info-icon
						img(src="../../../static/images/general/email-icon.png")
					.info__phone_descr
						a(href="mailto:opt@a-mebel.com")
							| opt@a-mebel.com
